# Ignore all .log files
*.log

# Ignore all files in the 'build' directory
/build/

public/

# Ignore the 'node_modules' directory often used in JavaScript projects
node_modules/

# Ignore specific files
.DS_Store
.env
config.local.js

# Ignore all files ending with .tmp
*.tmp

# Ignore all files in any directory named 'temp'
**/temp/

# Ignore the entire 'vendor' directory
vendor/

# Exception: don't ignore 'important.log' even if it's a .log file
!important.log